extends layout

block content
  section.py-5.container
    .row
      .col-md-6
        if error
          .alert.alert-danger(role="alert")= error
        if success
          .alert.alert-success(role="alert")= success
        form(action="/profile", method="post")
          .form-group
            label(for="name") Name
            input#name.form-control(type="text", name="name", value=user.name)
          .form-group
            label(for="email") Email
            input#email.form-control(type="email", name="email", value=user.email, readonly)
          button.btn.btn-primary(type="submit") Save